@*Loi test push 2*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "danhsachnhanvien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@*ok*@
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Nhân viên </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="HomeAdmin" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nhân viên</li>
            </ol>
        </nav>
    </div>

    <div class="col-lg-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh sách Nhân Viên</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-info">
                            <th>Mã nhân viên</th>
                            <th>Tên nhân viên</th>
                            <th>Giới tính</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>UserName</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbody-nhanvien">
                    </tbody>
                </table>
                <br />
                <div class="text-center">Page <span id="page-number">1</span></div>
                <div id="pagination_nhanvien"></div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nhân Viên</h4>
                <p class="card-description" id="card-action"></p>
                <form class="form-sample">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="MaNV">Mã Nhân Viên
                                    <input type="text" class="form-control" id="MaNV" placeholder="Mã Nhân Viên">
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="TenNV">Tên Nhân viên
                                    <input type="text" class="form-control" id="TenNV" placeholder="Tên nhân viên">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="gioitinh">UserName
                                    <select class="form-control form-control-lg" id="UserName">
                                        @foreach (var item in ViewBag.U)
                                            {
                                                <option value="@item">@item.ToString()</option>
                                            }
                                    </select>
                                </label>
                            </div>
                        </div>                    
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="sdt">Số điện thoại
                                    <input type="text" class="form-control" id="sdt" placeholder="Số điện thoại">
                                </label>
                            </div>
                        </div>
                    </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="gioitinh">Giới tính                   
                    <select class="form-control form-control-lg" id="gioitinh">                                   
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                    </label>
                </div>
            </div>
         </div>
                <button type="button" class="btn btn-gradient-danger btn-icon-text" onclick="InsertNV()">
                        <i class="mdi mdi-upload btn-icon-prepend"></i>Thêm
                    </button>
                    <button type="button" class="btn btn-gradient-dark btn-icon-text" onclick="UpdateNV()">
                        Sửa <i class="mdi mdi-file-check btn-icon-append"></i>
                    </button>
                    <button type="button" class="btn btn-gradient-warning btn-icon-text" onclick="resetInput()">
                        <i class="mdi mdi-reload btn-icon-prepend"></i> Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="~/admin/layoutdmin/assets/js/nhansu.js"></script>


