@using QLTourDuLichAPI.Models
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Tour>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrapper" id="#">
    <h2 style="color:blueviolet" class="text-center">Chào mừng @ViewBag.Username!</h2>
</div>